@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

$font-family-sans-serif: "Roboto", sans-serif;
$enable-rounded: false;
$component-active-bg: black;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

.del-btn {
//   display: none;
  transform: scale(0);
  transition: 0.5s;
}

tr:hover .del-btn {
    // display: inline;
    transform: scale(1);
}